[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

docopt = "*"
attrs = "*"
"e1839a8" = {path = ".", editable = true}
simpleaudio = "*"


[dev-packages]

"autopep8" = "*"
elpy = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-commas" = "*"
"flake8-docstrings" = "*"
"flake8-import-order" = "*"
"flake8-mypy" = "*"
importmagic = "*"
ipython = "*"
jedi = "*"
jupyter-console = "*"
monkeytype = "*"
mypy = "*"
"pep8-naming" = "*"
pew = "*"
pipenv = "*"
pylint = "*"
pythonpy = "*"
rope = "*"
yapf = "*"
wheel = "*"
readme-renderer = "*"
twine = "*"


[requires]

python_version = "3.6"
